@using Microsoft.AspNet.Identity
@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Details";

    string sender = string.Empty;
    if (Request.RequestContext.RouteData.Values["sender"] != null)
    {
        sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    }

    string groupId = "0";
    if (Request.RequestContext.RouteData.Values["gId"] != null)
    {
        groupId = Request.RequestContext.RouteData.Values["gId"].ToString();
    }

    string courseId = "0";
    if (Request.RequestContext.RouteData.Values["cId"] != null)
    {
        courseId = Request.RequestContext.RouteData.Values["cId"].ToString();
    }

    string activityId = "0";
    if (Request.RequestContext.RouteData.Values["id"] != null)
    {
        activityId = Request.RequestContext.RouteData.Values["id"].ToString();
    }
}

<div>
    <h3>Aktivitet: @Model.Name</h3>
    <h4>@Model.StartDate.ToShortDateString() -- @Model.EndDate.ToShortDateString()</h4>
    @if (sender != string.Empty && User.IsInRole("lärare"))
    {
        <a href="@Url.Action("Create", "Documents", new { sender = sender, gId = groupId, cId = courseId, aId = Model.Id }, null)">
            <img src="@Url.Content("~/Content/Images/create.png")" style="width: 30px; height: 30px;" />
        </a>
    }
    @if ((activityId != null && activityId != "0" && User.IsInRole("elev") && Model.Type.ToLower() == "inlämningsuppgift") || User.IsInRole("lärare"))
    {
        <h3> @Html.ActionLink("Skicka inlämningsuppgift", "Create", "Documents", new { sender = sender, gId = groupId, cId = courseId, aId = Model.Id }, null)</h3>
    }
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @if (sender == "c")
    {
        @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.CourseId, sender = sender })
        if (User.IsInRole("lärare"))
        {
            @Html.Raw(" | ")
            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id })
            @Html.Raw(" | ")
            @Html.ActionLink("Till alla aktiviteter", "Index")
        }
    }
    @if (sender == "g")
    {
        @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.CourseId, sender = sender, gId = groupId }, null)
        if (User.IsInRole("lärare"))
        {
            <a href="@Url.Action("Edit", "Activities", new { id = Model.Id, sender = sender, gId = groupId, cId = Model.CourseId }, null)">
                <img src="@Url.Content("~/Content/Images/edit.png")" style="width: 30px; height: 30px;" />
            </a>
            <a href="@Url.Action("Delete", "Activities", new { id = Model.Id, sender = sender, gId = groupId, cId = Model.CourseId }, null)">
                <img src="@Url.Content("~/Content/Images/delete.png")" style="width: 30px; height: 30px;" />
            </a>
        }

    }
    else
    {
        <div class="form-actions no-color">
            @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.CourseId, sender = sender, gId = groupId }, null)
        </div>
    }
</p>
