<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lexicon</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/logo-lexicon.gif" style="padding-top: 15px; padding-bottom: 15px" />
                @* Fixa onclick för bilden ovan
    @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            *@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Startsida", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Om", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    @if (User.IsInRole("lärare"))
                    {
                        <li>@Html.ActionLink("Kurser", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Grupper", "Index", "Group")</li>
                        <li>@Html.ActionLink("Användare", "Index", "Users")</li>
                        @*Add following link when the time comes... mwahaha
                        <li>@Html.ActionLink("Dokument", "Index", "Documents")</li>*@
                    }
                    @if (User.IsInRole("elev"))
                    {
                        <li>@Html.ActionLink("Din Grupp", "Index", "Group")</li>
                        <li>@Html.ActionLink("Alla användare", "Index", "Users")</li>
                        @*Add following links when the time comes... mwahaha
                        <li>@Html.ActionLink("Mina Kurser", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Uppgifter", "Index", "Activities")</li>*@
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
            <nav role="navigation" class="bottomnav">
            <ul class="bgcol-nav">
                <li>
                    <a href="/">
                        <strong>LEXICON</strong>
                    </a>
                </li>
            </ul>
            <ul class="bgcol2-nav">
                <li>Du skulle bara veta</li>
            </ul>
        </nav>
    <div class="container body-content" style="padding-top:200px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KAM Jedis (Kenneth, Anna, Mikael)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
