@using LexiconLMS.Models
@using LexiconLMS.Controllers;
@model IEnumerable<LexiconLMS.Models.Document>

@{
    ApplicationDbContext context = new ApplicationDbContext();
    ViewBag.Title = "ListGroupDocuments";

    var groupId = ViewData["groupId"].ToString();
    var gId = Int32.Parse(groupId);
    Group group = context.Groups.Find(gId);
    ViewData["gId"] = group.Id;
}

<h2>Dokument för grupp @group.Name</h2>

<p>
    @Html.ActionLink("Tillbaka", "Details", "Group", new { id = group.Id }, null)
    @Html.Raw(" | ")
    @Html.ActionLink("Lägg till nytt dokument", "Create", new { id = 0, gId = group.Id})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.OriginalFileName, "../Documents/GetFileFromDisk", new { fileUri = item.Uri, originalFileName = item.OriginalFileName })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityId)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.Id, gId = group.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id, gId = group.Id }) | 
            @Html.ActionLink("Ta bort", "Delete", new { id = item.Id, gId = group.Id })
        </td>
    </tr>
}

</table>
