@using LexiconLMS.Models
@model IEnumerable<LexiconLMS.Models.Document>

@{
    ApplicationDbContext context = new ApplicationDbContext();

    ViewBag.Title = "ListActivityDocuments";

    var activityId = ViewData["activityId"].ToString();
    Activity activity = new Activity();
    if (activityId != null && activityId != "0")
    {
        var aId = Int32.Parse(activityId);
        activity = context.Activities.Find(aId);
        ViewData["aId"] = activity.Id;
    }
    var courseId = ViewData["courseId"].ToString();
    Course course = new Course();
    if (courseId != null && activityId != "0")
    {
        var cId = Int32.Parse(courseId);
        course = context.Courses.Find(cId);
        ViewData["cId"] = course.Id;
    }
    var groupId = course.GroupId;
    Group group = new Group();
    if (group.Id != null && activityId != "0")
    {
        group = context.Groups.Find(groupId);
        ViewData["gId"] = group.Id;
    }
}

<h2>Document för @activity.Name</h2>

<p>
    @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = course.Id, sender = "g", gId = groupId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginalFileName)
        </th>
        <th></th>
        <th>Aktivitetstyp</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item != null)
        {
            <tr>
                <td>
                    @Html.ActionLink((string)item.Name, "Details", "Documents", new { id = item.Id, gId = groupId, cId = courseId, aId = activityId }, null)
                </td>
                <td>
                    <a href="@Url.Action("GetFileFromServer", "Documents", new {fileUri = item.Uri, originalFileName = item.OriginalFileName, userId = item.UserId }, null)">
                        <img src="@Url.Content("~/Content/Images/download.png")" style="width: 25px; height: 25px;" />
                    </a>
                </td>
                <td>@Html.Raw(activity.Type)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadTime)
                </td>
                <td>
                    @{ var user = context.Users.Find(item.UserId);}
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                @if (User.IsInRole("lärare"))
                {
                    <td>
                        <a href="@Url.Action("Delete", "Documents", new {id = item.Id, gId = group.Id, cId = courseId, aId = activityId }, null)">
                            <img src="@Url.Content("~/Content/Images/delete.png")" style="width: 15px; height: 15px;" />
                        </a>
                    </td>
                }
            </tr>
        }
    }
    @if ((activityId != null && activityId != "0" && User.IsInRole("elev") && activity.Type.ToLower() == "inlämningsuppgift") || User.IsInRole("lärare"))
    {
        <tr>
            <td>
                <a href="@Url.Action("Create", "Documents", new { sender = "g", gId = group.Id, cId = courseId, aId = activityId }, null)">
                    <img src="@Url.Content("~/Content/Images/create.png")" style="width:25px; height:25px;" />
                </a>
            </td>
        </tr>
    }
</table>
