@using LexiconLMS.Models
@model IEnumerable<LexiconLMS.Models.Activity>

@{
    ApplicationDbContext context = new ApplicationDbContext();
    ViewBag.Title = "_CourseActivities";

    string sender = string.Empty;
    if (Request.RequestContext.RouteData.Values["sender"] != null)
    {
        sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    }

    string groupId = "0";
    if (Request.RequestContext.RouteData.Values["gId"] != null)
    {
        groupId = Request.RequestContext.RouteData.Values["gId"].ToString();
    }

    var courseId = ViewData["courseId"];
}

<h2>
    Aktiviteter
    @if (User.IsInRole("lärare"))
    {
        <a href="@Url.Action("Create", "Activities", new { sender = sender, gId = groupId, cId = courseId }, null)">
            <img src="@Url.Content("~/Content/Images/create.png")" style="width: 30px; height: 30px;" />
        </a>
    }
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Dokument")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var shortDescription = "";
        if (item.Description.Length > 35)
        {
            shortDescription = item.Description.Substring(0, 35) + "...";
        }
        else
        {
            shortDescription = item.Description + "...";
        }
        var documents = context.Documents.Where(d => d.ActivityId == item.Id);
        <tr>
            <td>
                @Html.ActionLink((string)item.Name, "Details", "Activities", new { id = item.Id, sender = sender, gId = groupId, cId = item.CourseId }, null)
            </td>
            <td>
                @if (documents.Any())
                {
                    <a href="@Url.Action("Index", "Documents", new { gId = groupId, cId = courseId, aId = item.Id }, null)">
                        <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width:30px; height:23px;" />
                    </a>
                }
            </td>
            <td>
                @Html.Raw(shortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @if (User.IsInRole("lärare"))
            {
                <td>
                    <a href="@Url.Action("Edit", "Activities", new {id = item.Id, sender = sender, gId = groupId, cId = item.CourseId}, null)">
                        <img src="@Url.Content("~/Content/Images/edit.png")" style="width: 25px; height: 25px;" />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Activities", new {id = item.Id, sender = sender, gId = groupId, cId = item.CourseId}, null)">
                        <img src="@Url.Content("~/Content/Images/delete.png")" style="width: 15 px; height: 15px;" />
                    </a>
                </td>
            }
        </tr>
    }

</table>
