@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "KursDetaljer";

    string sender = Request.RequestContext.RouteData.Values["sender"].ToString();
}
<h2>Detaljer för kurs</h2>

<div>
 @*   <h4>Course</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("lärare"))
    {
        @Html.ActionLink("Ändra", "Edit", new {id = Model.Id})
    }
    @if (sender == "g")
    {
        @Html.ActionLink("Tillbaka", "Index", "Group")
    }
    @if (sender == "s")
    {
        @Html.ActionLink("Tillbaka", "Index", "Home")
    }
    else
    {
        @Html.ActionLink("Tillbaka till listan", "Index")
    }
</p>
