@{
    ViewBag.Title = "Home Page";

}

@if (!(User.Identity.IsAuthenticated))
{
    <div class="jumbotron">
        <h1>Lexicon LMS</h1>
        <p class="lead">Lexicon LMS - Av "Grupp KAM Jedis"</p>
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Logga in</a></p>
    </div>
}
else
{
    <div class="row">

        <h2>Välkommen @Html.Raw(ViewBag.Fullname)</h2>

        @if (User.IsInRole("lärare"))
        {
            //Active groups listed for teachers in leftmost column
            <div class="col-md-4">
                @if (ViewBag.HasActiveGroups)
                {
                    <h3>Aktuella grupper:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Namn</th>
                                <th>Start</th>
                                <th>Slut</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var group in ViewBag.ActiveGroups)
                            {
                                <tr>
                                    <td>
                                        <h4>@Html.Raw(group.Name)</h4>
                                    </td>
                                    <td>
                                        @Html.Raw(group.StartDate.Date.ToString("d"))
                                    </td>
                                    <td>
                                        @Html.Raw(group.EndDate.Date.ToString("d"))
                                    </td>
                                </tr>


                                int i = 0;
                                foreach (var course in ViewBag.Courses)
                                {
                                    if (group.Id == course.GroupId)
                                    {
                                        if (i == 0)
                                        {
                                            <tr>
                                                <th>
                                                    Ingående kurser:
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            i++;
                                        }
                                        <tr>
                                            <td>
                                                @Html.Raw(course.Name)
                                            </td>
                                            <td>
                                                @Html.Raw(course.StartDate.Date.ToString("d"))
                                            </td>
                                            <td>
                                                @Html.Raw(course.EndDate.Date.ToString("d"))
                                            </td>
                                        </tr>
                                    }
                                }


                            }
                        </tbody>
                    </table>
                }
            </div>

                // Future groups listed for teachers in middle column
                <div class="col-md-4">
                    <h3>Kommande grupper:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Namn</th>
                                <th>Start</th>
                                <th>Slut</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var group in ViewBag.FutureGroups)
                            {

                                <tr>
                                    <td>
                                        <h4>@Html.Raw(group.Name)</h4>
                                    </td>
                                    <td>
                                        @Html.Raw(group.StartDate.Date.ToString("d"))
                                    </td>
                                    <td>
                                        @Html.Raw(group.EndDate.Date.ToString("d"))
                                    </td>
                                </tr>



                                int i = 0;
                                foreach (var course in ViewBag.Courses)
                                {
                                    if (group.Id == course.GroupId)
                                    {
                                        if (i == 0)
                                        {
                                            <tr>
                                                <th>
                                                    Ingående kurser:
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            i++;
                                        }
                                        <tr>
                                            <td>
                                                @Html.Raw(course.Name)
                                            </td>
                                            <td>
                                                @Html.Raw(course.StartDate.Date.ToString("d"))
                                            </td>
                                            <td>
                                                @Html.Raw(course.EndDate.Date.ToString("d"))
                                            </td>
                                        </tr>
                                    }


                                }
                            }
                        </tbody>
                    </table>
                </div>

                            // Discontinued groups listed for teachers in rightmost column
                            <div class="col-md-4">
                                <h3>Avslutade grupper:</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Namn</th>
                                            <th>Start</th>
                                            <th>Slut</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var group in ViewBag.FinishedGroups)
                                        {

                                            <tr>
                                                <td>
                                                    <h4>@Html.Raw(group.Name)</h4>
                                                </td>
                                                <td>
                                                    @Html.Raw(group.StartDate.Date.ToString("d"))
                                                </td>
                                                <td>
                                                    @Html.Raw(group.EndDate.Date.ToString("d"))
                                                </td>
                                            </tr>


                                            var i = 0;
                                            foreach (var course in ViewBag.Courses)
                                            {
                                                if (group.Id == course.GroupId)
                                                {
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <th>
                                                                Ingående kurser:
                                                            </th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        i++;
                                                    }

                                                    <tr>
                                                        <td>
                                                            @Html.Raw(course.Name)
                                                        </td>
                                                        <td>
                                                            @Html.Raw(course.StartDate.Date.ToString("d"))
                                                        </td>
                                                        <td>
                                                            @Html.Raw(course.EndDate.Date.ToString("d"))
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>

        }
        else
        {
            // Group student is in, listed along with courses and activities in leftmost column
            <div class="col-md-4">
                <h3>Grupp: @Html.Raw(ViewBag.Group)</h3>

                @if (ViewBag.HasActiveCourses)
                {
                    <table>
                        <thead>
                            <tr>
                                <th>Pågående kurser</th>
                                <th>Start</th>
                                <th>Slut</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in ViewBag.ActiveCourses)
                            {
                                <tr>
                                    <td>
                                        @Html.Raw(course.Name)
                                    </td>
                                    <td>
                                        @Html.Raw(course.StartDate.Date.ToString("d"))
                                    </td>
                                    <td>
                                        @Html.Raw(course.EndDate.Date.ToString("d"))
                                    </td>
                                </tr>

                                // Add activities here

                            }
                        </tbody>

                    </table>
                }

            </div>


            <div class="col-md-4">
                @if (ViewBag.HasFutureCourses)
                {
                    <table>
                        <thead>
                            <tr>
                                <th>Framtida kurser</th>
                                <th>Start</th>
                                <th>Slut</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in ViewBag.FutureCourses)
                            {
                                <tr>
                                    <td>
                                        @Html.Raw(course.Name)
                                    </td>
                                    <td>
                                        @Html.Raw(course.StartDate.Date.ToString("d"))
                                    </td>
                                    <td>
                                        @Html.Raw(course.EndDate.Date.ToString("d"))
                                    </td>
                                </tr>

                                // Add activities here

                            }
                        </tbody>

                    </table>
                }
            </div>


            <div class="col-md-4">
                @if (ViewBag.HasFinishedCourses)
                {
                    <table>
                        <thead>
                            <tr>
                                <th>Avslutade kurser</th>
                                <th>Start</th>
                                <th>Slut</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in ViewBag.FinishedCourses)
                            {
                                <tr>
                                    <td>
                                        @Html.Raw(course.Name)
                                    </td>
                                    <td>
                                        @Html.Raw(course.StartDate.Date.ToString("d"))
                                    </td>
                                    <td>
                                        @Html.Raw(course.EndDate.Date.ToString("d"))
                                    </td>
                                </tr>

                                // Add activities here

                            }
                        </tbody>

                    </table>
                }
            </div>
        }

    </div>


}