@{
    ViewBag.Title = "Home Page";

}

@if (!(User.IsInRole("elev")))
{
    <div class="jumbotron">
        <h1>Lexicon LMS</h1>
        <p class="lead">Lexicon LMS - Av "Grupp KAM Jedis"</p>
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Logga in</a></p>
    </div>
}
else
{
    <div class="row">

        <h2>Välkommen @Html.Raw(ViewBag.Fullname)</h2>



        <div class="col-md-4">
            <h2>Aktuellt:</h2>
            @if (User.IsInRole("lärare"))
            {
                <h3>Grupper:</h3>
                <table>
                    <thead>
                        <tr>
                            <td>Namn</td>
                            <td>Startdatum</td>
                            <td>Slutdatum</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in ViewBag.Groups)
                        {

                            <tr>
                                <td>
                                    @Html.Raw(group.Name)
                                </td>
                                <td>
                                    @Html.Raw(group.StartDate)
                                </td>
                                <td>
                                    @Html.Raw(group.EndDate)
                                </td>
                            </tr>

                            if (ViewBag.Courses != null)
                            {
                                <tr>
                                    <td>
                                        Ingående kurser
                                    </td>
                                </tr>
                                foreach (var course in ViewBag.Courses)
                                {
                                    if (group.Id == course.GroupId)
                                    {
                                        <tr>
                                            <td>
                                                @Html.Raw(course.Name)
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            }





                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>Grupp: </h3>
                @Html.Raw(ViewBag.Group)
            }
            <p></p>

            <div class="col-md-4">

            </div>
        </div>
        <div class="col-md-4">
            @*<h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
}