@{
    ViewBag.Title = "Startsida";
}

@if (!(User.Identity.IsAuthenticated))
{
    <div class="jumbotron">
        <h1>Lexicon LMS</h1>
        <h2>(Learning Managment System)</h2>
        <p class="lead">Scrumteam "KAM Jedis"" bestående av Anna Eklund, Kenneth Forsström och Michael Puusaari</p>
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Logga in</a></p>
    </div>
}
else
{
    <div class="row">

        <div class="welcome">
            <p class="col-sm-3">
                Välkommen   
            </p>
            <p class="col-sm-9">
                @Html.ActionLink((string)ViewBag.FullName, "Details", "Users", new { id = ViewBag.UserId, sender = "s" }, new { @class = "Fullnamecolor" })!
            </p>
        </div>

        @if (User.IsInRole("lärare"))
        {
            //Active groups listed for teachers in leftmost column
            <div class="col-md-4 highlight_background">
                @if (ViewBag.HasActiveGroups)
                {
                    <div class="groupheader">
                        Aktuella grupper:
                    </div>
                    <br />

                    foreach (var group in ViewBag.ActiveGroups)
                    {
                        <div class="groupname">
                            @Html.ActionLink((string)group.Name, "Details", "Group", new { id = group.Id, sender = "s" }, null)
                        </div>

                        <div class="groupdate">
                            @group.StartDate.Date.ToString("d") -- @group.EndDate.Date.ToString("d")
                        </div>

                        int i = 0;
                        foreach (var course in ViewBag.Courses)
                        {
                            if (group.Id == course.GroupId)
                            {
                                if (i == 0)
                                {
                                    <div class="hascourses">
                                        <br />
                                        Ingående kurser:
                                    </div>
                                    i++;
                                }

                                <div class="coursename">
                                    @Html.ActionLink((string)course.Name, "Details", "Courses", new { id = course.Id, sender = "s" }, null)
                                </div>

                                <div class="coursedate">
                                    @course.StartDate.Date.ToString("d") -- @course.EndDate.Date.ToString("d")
                                </div>
                                <br />
                            }
                        }
                        <hr />
                    }
                }
            </div>

                // Future groups listed for teachers in middle column
                <div class="col-md-4 future_groups">

                    @if (ViewBag.HasFutureGroups)
                    {
                        <div class="groupheader">
                            Kommande grupper:
                        </div>
                        <br />
                        foreach (var group in ViewBag.FutureGroups)
                        {
                            <div class="groupname">
                                @Html.ActionLink((string)group.Name, "Details", "Group", new { id = group.Id, sender = "s" }, null)
                            </div>

                            <div class="groupdate">
                                @group.StartDate.Date.ToString("d") -- @group.EndDate.Date.ToString("d")
                            </div>

                            int i = 0;
                            foreach (var course in ViewBag.Courses)
                            {
                                if (group.Id == course.GroupId)
                                {
                                    if (i == 0)
                                    {
                                        <div class="hascourses">
                                            <br />
                                            Ingående kurser:
                                        </div>
                                        i++;
                                    }

                                    <div class="coursename">
                                        @Html.ActionLink((string)course.Name, "Details", "Courses", new { id = course.Id, sender = "s" }, null)
                                    </div>

                                    <div class="coursedate">
                                        @course.StartDate.Date.ToString("d") -- @course.EndDate.Date.ToString("d")
                                    </div>
                                    <br />
                                }
                            }
                            <hr />
                        }
                    }
                </div>

                    // Discontinued groups listed for teachers in rightmost column
                    <div class="col-md-4">
                        @if (ViewBag.HasFutureGroups)
                        {
                            <div class="groupheader">
                                Avslutade grupper:
                            </div>
                            <br />
                            foreach (var group in ViewBag.FinishedGroups)
                            {
                                <div class="groupname">
                                    @Html.ActionLink((string)group.Name, "Details", "Group", new { id = group.Id, sender = "s" }, null)
                                </div>

                                <div class="groupdate">
                                    @group.StartDate.Date.ToString("d") -- @group.EndDate.Date.ToString("d")
                                </div>

                                int i = 0;
                                foreach (var course in ViewBag.Courses)
                                {
                                    if (group.Id == course.GroupId)
                                    {
                                        if (i == 0)
                                        {
                                            <div class="hascourses">
                                                <br />
                                                Ingående kurser:
                                            </div>
                                            i++;
                                        }

                                        <div class="coursename">
                                            @Html.ActionLink((string)course.Name, "Details", "Courses", new { id = course.Id, sender = "s" }, null)
                                        </div>

                                        <div class="coursedate">
                                            @course.StartDate.Date.ToString("d") -- @course.EndDate.Date.ToString("d")
                                        </div>
                                        <br />
                                    }
                                }
                                <hr />
                            }
                        }
                    </div>
        }
        else
        {
            // Group student is in, listed along with courses and activities
            <div class="col-md-4 highlight_background">
                <div class="groupname">
                    Grupp: @Html.ActionLink((string)ViewBag.Group, "Details", "Group", new { id = ViewBag.GroupId, sender = "s" }, null)
                </div>
                <div class="groupdate">
                    @ViewBag.GroupStart.ToString("d") -- @ViewBag.GroupStart.ToString("d")
                </div>
                <br />
                <div class="groupdetails">
                    @Html.Raw(ViewBag.GroupDescription)
                </div>
            </div>


            <div class="col-md-4 ">
                @if (ViewBag.HasActiveCourses)
                {
                    <div class="hascourses">
                        Pågående kurser:
                    </div>

                    foreach (var course in ViewBag.ActiveCourses)
                    {

                        <div class="coursename">
                            @Html.ActionLink((string)course.Name, "Details", "Courses", new { id = course.Id, sender = "s" }, null)
                        </div>

                        <div class="coursedate">
                            @course.StartDate.Date.ToString("d") -- @course.EndDate.Date.ToString("d")
                        </div>
                        <br />

                        if (ViewBag.HasActiveActivities)
                        {
                            foreach (var activity in ViewBag.ActiveActivities)
                            {
                                if (activity.CourseId == course.Id)
                                {
                                    <div class="activityname">
                                        @Html.ActionLink((string)activity.Name, "Details", "Activities", new { id = activity.Id, sender = "s" }, null)
                                    </div>
                                    <div class="activity">
                                        @activity.Description

                                    </div>
                                    <br />

                                }
                            }
                        }
                        <hr />
                    }
                }


                @if (ViewBag.HasFutureCourses)
                {
                    <div class="hascourses">
                        Kommande kurser:
                    </div>
                    foreach (var course in ViewBag.FutureCourses)
                    {
                        <div class="coursename">
                            @Html.ActionLink((string)course.Name, "Details", "Courses", new { id = course.Id, sender = "s" }, null)
                        </div>
                        <div class="coursedate">
                            @course.StartDate.Date.ToString("d") -- @course.EndDate.Date.ToString("d")
                        </div>
                        <br />

                        if (ViewBag.HasFutureActivities)
                        {
                            foreach (var activity in ViewBag.FutureActivities)
                            {
                                <div class="activityname">
                                    @Html.ActionLink((string)activity.Name, "Details", "Activities", new { id = activity.Id, sender = "s" }, null)
                                </div>
                                <div class="activity">
                                    @activity.Description
                                </div>
                                <br />
                            }
                        }

                        <hr />
                    }


                }
            </div>


            <div class="col-md-4">
                @if (ViewBag.HasFinishedCourses)
                {
                    <div class="hascourses">
                        Avslutade kurser:
                    </div>

                    foreach (var course in ViewBag.FinishedCourses)
                    {
                        <div class="coursename">
                            @Html.ActionLink((string)course.Name, "Details", "Courses", new { id = course.Id, sender = "s" }, null)
                        </div>
                        <div class="coursedate">
                            @course.StartDate.Date.ToString("d") -- @course.EndDate.Date.ToString("d")
                        </div>
                        <br />

                        if (ViewBag.HasFinishedActivities)
                        {
                            foreach (var activity in ViewBag.FinishedActivities)
                            {
                                if (activity.CourseId == course.Id)
                                {
                                    <div class="activityname">
                                        @Html.ActionLink((string)activity.Name, "Details", "Activities", new { id = activity.Id, sender = "s" }, null)
                                    </div>

                                    <div class="activity">
                                        @activity.Description
                                    </div>
                                    <br />
                                }
                            }
                        }
                        <hr />
                    }
                }
            </div>
        }

    </div>


}
