@model LexiconLMS.Models.ApplicationUser

@{
    ViewBag.Title = "Radering";

    string sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    int groupId = 0;
    if (Request.RequestContext.RouteData.Values["gId"] != null)
    {
        groupId = Int32.Parse(Request.RequestContext.RouteData.Values["gId"].ToString());
    }
}

<h2>@*Delete*@</h2>

<h3>Är du säker på att du vill radera?</h3>
<div>
    <h4>Ej aktiv användare visas ej i listor för grupper, kurser mm!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (sender == "g" && groupId != 0)
        {
            <div class="form-actions no-color">
                @Html.ActionLink("Ändra användaren", "Edit", new { id = Model.Id, sender, gId=groupId})
                <input type="submit" value="eller radera definitivt!" class="btn btn-default" />
                @Html.ActionLink("Tillbaka", "Details", "Group", new { id = groupId }, null)
            </div>
        }
        else
        {
             <div class="form-actions no-color">
                 @Html.ActionLink("Ändra användaren", "Edit", new {id = Model.Id})
                 <input type="submit" value="eller radera definitivt!" class="btn btn-default"/>
                 @Html.ActionLink("Tillbaka till listan", "Index")
             </div>
         }
    }
</div>
