@model LexiconLMS.Models.ApplicationUser

@{
    ViewBag.Title = "Detaljer";
    var groups = ViewBag.Groups;

    string sender = string.Empty;
    if (Request.RequestContext.RouteData.Values["sender"] != null)
    {
        sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    }
    int groupId = 0;
    if (Request.RequestContext.RouteData.Values["gId"] != null)
    {
        groupId = Int32.Parse(Request.RequestContext.RouteData.Values["gId"].ToString());
    }
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @ViewBag.Group
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<p>
    @if (sender == "s")
    {
        @Html.ActionLink("Till startsidan", "Index", "Home")
    }

    @if (sender == "u")
    {
        @Html.ActionLink("Till listan", "Index", "Users")
    }

    @if (sender == "g")
    {
        if (User.IsInRole("lärare") && groupId != 0)
        {
            @Html.ActionLink("Till gruppdetaljer", "Details", "Group", new { id = groupId }, null)
        }
        if (User.IsInRole("elev"))
        {
            @Html.ActionLink("Till grupplistan", "Index", "Group")
        }
    }

    @if (User.IsInRole("lärare"))
    {
        if (sender != string.Empty)
        {
            @Html.Raw(" | ")
            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id, sender, gId = groupId })
        }
    }
</p>
