@model LexiconLMS.Models.ApplicationUser

@{
    ViewBag.Title = "Detaljer";
    var groups = ViewBag.Groups;

    string sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    string groupId = Request.RequestContext.RouteData.Values["gId"].ToString();
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @ViewBag.Group
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("lärare"))
    {
        @Html.ActionLink("Ändra", "Edit", new {id = Model.Id})
    }
    @if (sender == "u")
    {
        @Html.ActionLink("Tillbaka till listan", "Index", "Users")
    }
    @if (sender == "g")
    {
        @Html.ActionLink("Tillbaka", "Details", "Group", new {id = groupId}, null)
    }
    @if (sender == "s")
    {
        @Html.ActionLink("Tillbaka till startsidan", "Index", "Home")
    }
</p>
