@model IEnumerable<LexiconLMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Användare";    
}

<h2>Användare</h2>

<p>
    @Html.ActionLink("Skapa ny användare", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>*@
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>*@

        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalj", "Details", new { id=item.Id, sender = "u" }) |
            @Html.ActionLink("Radera", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
