@model IEnumerable<ApplicationUser>

@using System.Linq
@using LexiconLMS.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{
    ViewBag.Title = "_GroupMembers";
    
    var context = new ApplicationDbContext();    
    var userStore = new UserStore<ApplicationUser>(context);
    var userManager = new UserManager<ApplicationUser>(userStore);

    var currentUserId = User.Identity.GetUserId();
    var user = userManager.Users.FirstOrDefault(u => u.Id == currentUserId);

    var groupMembers = context.Users.Where(u => u.GroupId == user.GroupId);
}

<h2>Dina Gruppmedlemmar</h2>

<table class="table">
    <tr>
        <th>
            @Html.Raw("Namn")
        </th>
        <th>
            @Html.Raw("E-postaddress")
        </th>
    </tr>

@foreach (var item in groupMembers)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>

        <td>
            @Html.ActionLink("Detaljer", "GroupmemberDetails", new { id=item.Id }, null)
        </td>
    </tr>
}
</table>
