@model IEnumerable<ApplicationUser>

@using System.Linq
@using LexiconLMS.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{
    ViewBag.Title = "_GroupMembers";
    
    var context = new ApplicationDbContext();    
    var userStore = new UserStore<ApplicationUser>(context);
    var userManager = new UserManager<ApplicationUser>(userStore);

    var currentUserId = User.Identity.GetUserId();
    var user = userManager.Users.FirstOrDefault(u => u.Id == currentUserId);

    var groupMembers = context.Users.Where(u => u.GroupId == user.GroupId);
}

<h3>Gruppmedlemmar i @context.Groups.Find(user.GroupId).Name</h3>

<table class="table">
    <tr>
        <th class=" col-sm-5">
            @Html.Raw("Namn")
        </th>
        <th class="col-sm-7">
            @Html.Raw("E-postaddress")
        </th>
    </tr>

    @foreach (var item in groupMembers)
    {
        <tr>
            <td class=" col-sm-5">
                @Html.ActionLink((string)item.FullName, "Details", "Users", new { id = item.Id, sender = "g" }, null)
            </td>
            <td class="col-sm-7">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }
</table>
