@using LexiconLMS.Models
@model IEnumerable<LexiconLMS.Models.Course>

@{
    ApplicationDbContext context = new ApplicationDbContext();
    ViewBag.Title = "_SGroupCourses";
}

<h4>Kurser</h4>
<div class="sgc-div1">
    <table class="table">
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-sm-2">
                @Html.DisplayName("Dokument")
            </th>
            <th class="col-sm-6">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var shortDescription = "";
            if (item.Description.Length > 35)
            {
                shortDescription = item.Description.Substring(0, 35) + "...";
            }
            else
            {
                shortDescription = item.Description + "...";
            }
            var documents = context.Documents.Where(d => d.CourseId == item.Id);
            <tr>
                <td class="col-sm-2">
                    @Html.ActionLink((string)item.Name, "Details", "Courses", new { id = item.Id, sender = "g", gId = item.GroupId }, null)
                </td>
                <td class="col-sm-2">
                    @if (documents.Any())
                    {
                        <a href="@Url.Action("Index", "Documents", new { gId = item.GroupId, cId = item.Id }, null)">
                            <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width:30px; height:23px;" />
                        </a>
                    }
                </td>
                <td class="col-sm-6">
                    @Html.Raw(shortDescription)
                </td>
                
                <td class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
            </tr>
        }

    </table>
</div> 