@using LexiconLMS.Models
@model IEnumerable<LexiconLMS.Models.Course>

@{
    ApplicationDbContext context = new ApplicationDbContext();
    ViewBag.Title = "_SGroupCourses";
}

<h4>Kurser</h4>
<div class="sgc-div1">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Dokument")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var documents = context.Documents.Where(d => d.CourseId == item.Id);
            <tr>
                <td>
                    @Html.ActionLink((string) item.Name, "Details", "Courses", new {id = item.Id, sender = "g", gId = item.GroupId}, null)
                </td>
                <td>
                    @if (documents.Any())
                    {
                        <a href="@Url.Action("Index", "Documents", new { gId = item.GroupId, cId = item.Id }, null)">
                            <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width:30px; height:23px;" />
                        </a>
                    }
                </td>
                <td class="sgc-table-td2">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
            </tr>
        }

    </table>
</div> 