@model IEnumerable<LexiconLMS.Models.ApplicationUser>

@{
    ViewBag.Title = "_GroupMembers";
     
    string sender = string.Empty;
    if (Request.RequestContext.RouteData.Values["sender"] != null)
    {
        sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    }
    int groupId = 0;
    if (Request.RequestContext.RouteData.Values["gId"] != null)
    {
        groupId = Int32.Parse(Request.RequestContext.RouteData.Values["gId"].ToString());
    }

    var groupId2 = ViewData["groupId"].ToString();
}

<h2>Gruppmedlemmar</h2>

<p>
    @*TODO: Fixa en ny router för create*@
    @Html.ActionLink("Skapa ny användare", "Register", "Account", new {sender = "g", gId = groupId2}, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink((string) item.FullName, "Details", "Users", new {id = item.Id, sender = "g", gId = item.GroupId}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", "Users", new { id = item.Id, sender = "g", gId = item.GroupId }, null) |
            @Html.ActionLink("Radera", "Delete", "Users", new { id = item.Id, sender = "g", gId = item.GroupId }, null)
        </td>
    </tr>
}
</table>
