@using LexiconLMS.Models
@using Microsoft.Ajax.Utilities
@model IEnumerable<LexiconLMS.Models.Course>

@{
    ApplicationDbContext context = new ApplicationDbContext();
    string sender = string.Empty;
    if (Request.RequestContext.RouteData.Values["sender"] != null)
    {
        sender = Request.RequestContext.RouteData.Values["sender"].ToString();
    }

    string groupId = ViewData["groupId"].ToString();
}

<h2>Gruppens kurser</h2>

<table class="table">
    <tr>
        <td>
            <a href="@Url.Action("Create", "Courses", new { sender = "g", gId = groupId }, null)">
                <img src="@Url.Content("~/Content/Images/create.png")" style="width:25px; height:25px;" />
            </a>
        </td>
    </tr>
    <tr>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var shortDescription = "";
        if (item.Description.Length > 30)
        {
            shortDescription = item.Description.Substring(0, 25) + "...";
        }
        else
        {
            shortDescription = item.Description; 
        }
        var documents = context.Documents.Where(d => d.CourseId == item.Id);
        <tr>
            <td class="col-sm-2">
                @Html.ActionLink((string) item.Name, "Details", "Courses", new {id = item.Id, sender = "g", gId = item.GroupId}, null)
            </td>
            <td class="col-sm-6">
                @Html.Raw(shortDescription)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (documents.Any())
                {
                    <a href="@Url.Action("Index", "Documents", new {gId = groupId, cId = item.Id}, null)">
                        <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width: 30px; height: 23px;" />
                    </a>
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", "Courses", new {id = item.Id, sender = "g", gId = item.GroupId}, null)">
                    <img src="@Url.Content("~/Content/Images/edit.png")" style="width: 20px; height: 20px;" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", "Courses", new {id = item.Id, sender = "g", gId = item.GroupId}, null)">
                    <img src="@Url.Content("~/Content/Images/delete.png")" style="width: 15px; height: 15px;"/>
                </a>
            </td>
        </tr>
    }

</table>
