@using System.Linq
@using System.Runtime.Remoting.Channels
@using System.Web.Mvc.Html
@using LexiconLMS.Models
@model LexiconLMS.Models.Group

@{
    ViewBag.Title = "Gruppdetaljer";
    var context = new ApplicationDbContext();
    var groupMembers = context.Users.Where(u => u.GroupId == Model.Id);

    var courses = context.Courses.Where(c => c.GroupId == Model.Id);

    ViewData["groupId"] = Model.Id.ToString();

    var documents = context.Documents.Where(d => d.GroupId == Model.Id);

    var desc = string.Empty;
    if (Model.Description.Length > 100)
    {
        desc = Model.Description.Substring(0, 100) + "...";
    }
    else
    {
        desc = Model.Description;
    }
}

<div class="groupDiv">
    <h1>
        Grupp: @Html.DisplayFor(model => model.Name)
        <a href="@Url.Action("Edit", "Group", new {id = Model.Id, sender= "g", gId = Model.Id}, null)">
            <img src="@Url.Content("~/Content/Images/edit.png")" style="width: 30px; height: 30px;" />
        </a>
        @if (documents.Any())
        {
            <a href="@Url.Action("Index", "Documents", new { gId = Model.Id }, null)">
                <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width:30px; height:30px;" />
            </a>
        }
    </h1>
    <h4>@Html.DisplayFor(m => m.StartDate) - @Html.DisplayFor(m => m.EndDate)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(desc)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Till grupper", "Index")
        @if (User.IsInRole("lärare"))
        {
            @Html.Raw(" | ")
            @Html.ActionLink("Lägg till gruppdokument", "Create", "Documents", new { sender = "g", gId = Model.Id }, null)
        }
    </p>
</div>
<br />
<div class="col-sm-12 groupPartialsDiv">
    <div class=" col-sm-7 groupcoursesDiv">
        @Html.Partial("_TGroupCourses", courses)
    </div>
    <div class="col-sm-5 groupmembersDiv">
        @Html.Partial("_TGroupMembers", groupMembers)
    </div>
</div>