@using System.Linq
@using System.Runtime.Remoting.Channels
@using System.Web.Mvc.Html
@using LexiconLMS.Models
@model LexiconLMS.Models.Group

@{
    ViewBag.Title = "Gruppdetaljer";
    var context = new ApplicationDbContext();
    var groupMembers = context.Users.Where(u => u.GroupId == Model.Id);

    var courses = context.Courses.Where(c => c.GroupId == Model.Id);

    ViewData["groupId"] = Model.Id.ToString();

    var documents = context.Documents.Where(d => d.GroupId == Model.Id);
}

<div class="sg-table-div">
    <table>
        <tr>
            <td class="sg-table-td1">
                <div class="sg-td1-div1">
                    <h1>Grupp: @Html.DisplayFor(model => model.Name)
                        @if (documents.Any())
                        {
                            <a href="@Url.Action("Index", "Documents", new { gId = Model.Id }, null)">
                                <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width:30px; height:30px;" />
                            </a>

                        }
                    </h1>
                    <h4>@Html.DisplayFor(m => m.StartDate) - @Html.DisplayFor(m => m.EndDate)</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
                <p>
                    @if (User.IsInRole("lärare"))
                    {     
                        @Html.ActionLink("Ändra", "Edit", new { id = Model.Id, sender = "g", gId = Model.Id }) 
                        @Html.Raw(" | ") 
                    }
                    @Html.ActionLink("Till grupper", "Index")
                    @if (User.IsInRole("lärare"))
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Lägg till gruppdokument", "Create", "Documents", new { sender = "g", gId = Model.Id }, null)
                    }
                </p>
                <br /><br />
                <div class="sg-td1-div2">
                    @Html.Partial("_TGroupMembers", groupMembers, ViewData)
                </div>
            </td>
            <td class="sg-table-td2">
                @Html.Partial("_TGroupCourses", courses, ViewData)
            </td>
        </tr>
    </table>
</div>