@using System.IdentityModel.Configuration
@using LexiconLMS.Models
@using Microsoft.AspNet.Identity
@model LexiconLMS.Models.Group

@{
    var context = new ApplicationDbContext();
    var currentUserId = User.Identity.GetUserId();

    var currentUser = context.Users.FirstOrDefault(u => u.Id == currentUserId);
    var groupMembers = context.Users.Where(u => u.GroupId == currentUser.GroupId);
    ViewBag.Title = "EIndex";

    var courses = context.Courses.Where(c => c.GroupId == Model.Id);

    var documents = context.Documents.Where(d => d.GroupId == Model.Id);
    var desc = string.Empty;
    if (Model.Description.Length > 100)
    {
        desc = Model.Description.Substring(0, 100) + "...";
    }
    else
    {
        desc = Model.Description;
    }

    var userId = User.Identity.GetUserId();

    var allUserDocuments = context.Documents.Where(d => d.UserId == userId);
    var activity = new Activity();
    var assignmentActivities = context.Activities.Where(a => a.Type.ToLower() == "inlämningsuppgift");
}
<div class="groupDiv">
    <h2>
        Grupp: @Html.ActionLink((string)Model.Name, "Group")
        @if (documents.Any())
        {
            <a href="@Url.Action("Index", "Documents", new { gId = Model.Id }, null)">
                <img src="@Url.Content("~/Content/Images/doc_icon.png")" style="width:25px; height:25px;" />
            </a>
        }
    </h2>

    <h4>@Html.DisplayFor(m => m.StartDate) -- @Html.DisplayFor(m => m.EndDate)</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(desc)
        </dd>
    </dl>
    <br />
    <br />
    <h4>Dina personliga dokument:</h4>
    @if (allUserDocuments.Count() > 0)
    {
        foreach (var doc in allUserDocuments.ToList())
        {
            if (@context.Activities.Find(doc.ActivityId) != null)
            {
                <h5 style="color:green;"> @Html.Raw("Aktivitet:") @context.Activities.Find(doc.ActivityId).Name.ToString();</h5>
                <h5 style="color:green;"> @Html.Raw("Dokument skickat:") @Html.Raw(@doc.Name.ToString())</h5>
            }
            <br />
        }
    }
    <h4>Alla inlämningsaktiviteter:</h4>
    @if (assignmentActivities.Count() > 0)
    {
        foreach (var assActivity in assignmentActivities.ToList())
        {
            @Html.Raw(@assActivity.Name.ToString())
            <br />
        }
    }
</div>
<br />
<div class="col-sm-12 groupPartialsDiv">
    <div class=" col-sm-7 groupcoursesDiv">
        @Html.Partial("_SGroupCourses", courses)
    </div>
    <div class="col-sm-5 groupmembersDiv">
        @Html.Partial("_SGroupMembers", groupMembers)
    </div>
</div>