@model IEnumerable<LexiconLMS.Models.Group>

@{
    ViewBag.Title = "TGroups";
}

<h2>Grupper:</h2>

<p>
    @Html.ActionLink("Skapa ny grupp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.Name, "Details", "Group", new { id = item.Id, sender = "g"}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Editera", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Annihilera", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
</table>